@import '../mixins/responsive';
@import '../variables';

.card {
	display: block;
	color: #333;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	border-radius: 5px;
	margin-bottom: 30px;
	overflow: hidden;
	&:hover {
		color: #333;
		text-decoration: none;
	}
}
.card__wrapper {
	position: relative;
}
.card__pic {
	width: 100%;
}
.card__header {
	background: #FFF;
	padding: 15px;
}
.card__title {
	font-size: 1em;
	line-height: 1.1em;
	font-weight: bold;
}
.card__content {
	padding: 15px;
	@include min-desktop-size {
		font-size: .82em;
		overflow: hidden;
	}
}
.card__footer {
	display: none;
	@include min-desktop-size {
		display: initial;
		position: absolute;
		bottom: 0;
	}
}