@import '../mixins/responsive';
@import '../variables';

.pagination {
  font-size: .85em;
  text-align: center;
  width: 100%;
  @include min-desktop-size {
    display: block;
    margin: 20px 0;
  }
  p {
    margin: 0;
  }
  .btn {
    margin: 10px 5px;
  }
}
.pagination__results {
  color: #888;
}