<section class="container-fluid section section-movie-detail">
  <div class="movie">
    <img class="movie__poster"/>
    <div class="movie__header">
      <div class="movie__cover"></div>
      <h1 class="movie__title">Deadpool 2 <em>(2018)</em></h1>
    </div>
    <div class="movie__header">
      <div class="movie__average">78</div>
      <button class="movie__trailer-preview">Reproduzir Trailer</button>
    </div>
    <div class="movie__sinopse">
      <h2 class="sinopse__title">Sinopse</h2>
      <p>O mercenário mutante Wade Wilson (Deadpool), reúne uma equipe de companheiros mutantes para proteger um jovem de habilidades sobrenaturais do mutante brutal, viajante no tempo, Cable.</p>
      <h2 class="sinopse__title">Equipe técnica principal</h2>
      <div class="movie__cast">
        <div class="cast-member">
          <span class="cast-member__name">Fabian</span>
          <span class="cast-member__role">Characters</span>
        </div>
        <div class="cast-member">
          <span class="cast-member__name">Fabian</span>
          <span class="cast-member__role">Characters</span>
        </div>
      </div>
    </div>
  </div>

</section>