@import '../../../assets/scss/mixins/responsive';
@import '../../../assets/scss/variables';

.section-movie-detail {
	background: #191514;
	color: #FFF;
	@include min-desktop-size {
		background: rgba(25, 21, 20, 0.9);
	}
}
.movie__detail {
	position: relative;
	@include min-desktop-size {
		padding: 50px 0;
		color: #FFF;
	}
}
.movie__header {
	position: relative;
	padding: 10px 0;
	color: #333;
	@include min-desktop-size {
		color: #FFF;
	}
}
.movie__poster {
	@include min-desktop-size {
		display: none;
	}
}
.movie__cover {
	border-radius: 5px;
	width: 25vw;
	margin-top: -70px;
	box-shadow: 0 -2px 2px 0 black;
	@include min-desktop-size {
		width: 150px;
		margin-top: 0;
		margin-right: 30px;
	}
}
.movie__title {
	display: inline-block;
	width: calc(100% - 25vw);
	vertical-align: middle;
	font-size: 1.3em;
	line-height: 1.1em;
	padding-left: 10px;
	@include min-desktop-size {
		vertical-align: top;
		font-size: 2em;
	}
	.movie__release {
		font-size: .8em;
		font-weight: normal;
		color: #666;
		font-style: normal;
	}
}
.movie__sub-header {
	padding: 15px 0;
	color: #333;
	@include min-desktop-size {
		color: #FFF;
	}
	.container {
		text-align: center;
	}
}
.movie__play-trailer {
	display: inline-block;
	border: none;
	background: transparent;
	color: inherit;
	font-size: .95em;
	position: relative;
	margin-left: 8vw;
	padding-left: 8vw;
	&::before {
		content: '';
		height: 100%;
		width: 1px;
		background: #6f6664;
		position: absolute;
		left: 0;
	}
}

.desktop-overlay {
	display: none;
	@include min-desktop-size {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		z-index: -1;
	}
}

.movie__overview {
	background: #252e33;
	padding: 30px 0;
	font-size: .95em;
}

.overview__title {
	font-size: 1.3em;
	color: inherit;
}

.crew-member {
	text-decoration: none;
	color: inherit;
	width: 140px;
	display: inline-block;
	margin: 10px 0;
}
.crew-member__name {
	font-weight: bold;
	display: block;
}
.crew-member__role {
	font-size: .9em;
	display: block;
}

.top-billed-cast {
	background: #FFF;
	color: #333;
	padding: 40px 0 20px;
}
.card.cast-member {
	width: 120px;
}
.cast-member__name {
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 5px;
}
.cast-member__character {
	font-size: .85em;
}
.horizontal-scroll {
	display: flex;
  flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	.card {
		flex: 0 0 auto;
		margin: 0 10px;
	}
}