<section class="section section-movie-detail">
  <div class="movie" *ngIf="movie">
    <img class="movie__poster" src="https://image.tmdb.org/t/p/w300{{movie.backdrop_path}}"
          srcset="https://image.tmdb.org/t/p/w300{{movie.backdrop_path}} 769w,
                  https://image.tmdb.org/t/p/w1280{{movie.backdrop_path}} 1000w"
    />
    <div class="movie__detail">
      <div class="desktop-overlay" [style.background-image]="'url(https://image.tmdb.org/t/p/w1280/' + movie.backdrop_path + ')'"></div>

      <div class="movie__header">
        <div class="container">
          <div>
              <img class="movie__cover" src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}"
                  srcset="https://image.tmdb.org/t/p/w92{{movie.poster_path}} 769w,
                          https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}} 1000w"
              />
              <h1 class="movie__title">{{ movie.title }} <em class="movie__release">({{ movie.release_date | amDateFormat:'YYYY' }})</em></h1>
          </div>
        </div>
      </div>

      <div class="movie__sub-header">
        <div class="container">
          <app-movie-average [average]="(movie.vote_average * 10)"></app-movie-average>
          <button class="movie__play-trailer">Play Trailer</button>
        </div>
      </div>

      <div class="movie__overview">
        <div class="container">
          <h2 class="overview__title">Overview</h2>
          <p>{{ movie.overview }}</p>
          <h2 class="overview__title">Featured Crew</h2>
          <div class="featured-crew">
            <a href="#" class="crew-member" *ngFor="let member of featuredCrew">
              <span class="crew-member__name">{{ member.name }}</span>
              <span class="crew-member__role">{{ member.job }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="top-billed-cast">
      <div class="container">
        <h2 class="overview__title">Top Billed Cast</h2>
        <div class="cast-members horizontal-scroll">
          <div class="card cast-member" *ngFor="let member of featuredCast">
            <img class="cast-member__pic" src="https://image.tmdb.org/t/p/w120_and_h133_face/{{member.profile_path}}"/>
            <div class="card__content">
              <div class="cast-member__name">{{ member.name }}</div>
              <div class="cast-member__character">{{ member.character }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>