@import '../../../assets/scss/mixins/responsive';
@import '../../../assets/scss/variables';

.card.movie {
	@include min-tablet-size {
		width: 480px;
		height: 285px;
		display: inline-block;
		margin: 0 15px 30px;
		background: #FFF;
	}
	.card__pic {
		@include min-tablet-size {
			width: 190px;
			vertical-align: top;
		}
	}
	.card__wrapper {
		@include min-tablet-size {
			width: calc(100% - 190px);
			height: 100%;
			display: inline-block;
			vertical-align: top;
		}
	}
	.card__header {
		display: flex;
	}
	.card__title {
		padding-left: 10px;
	}
	.card__content {
		display: none;
		@include min-tablet-size {
			display: block;
		}
	}
	.card__footer {
		overflow: hidden;
		@include min-tablet-size {
			width: 100%;
			border-top: 1px solid #e1e1e1;
			padding: 10px;
		}
	}
}