@import '../../../assets/scss/mixins/responsive';
@import '../../../assets/scss/variables';

.card.movie {
	.card__content {
		display: none;
		@include min-desktop-size {
			display: block;
		}
	}
}
.card__header {
	display: flex;
}
.card__title {
	padding-left: 10px;
}