<section class="container section section-movie-list">
  <h1 class="section__title">Discover New Movies</h1>
  <div class="list movies">
    <div class="list__filter">
    </div>
    <app-movie-card *ngFor="let movie of response.results" [movie]="movie"></app-movie-card>
    <div class="pagination">
      <p class="pagination__page">Currently on page: <strong>{{ response.page }}</strong> of <strong>{{ response.total_pages }}</strong></p>
      <p class="pagination__results">({{ response.total_results }} results)</p>
      <a href="#" class="btn btn-sm" *ngIf="response.page > 1" (click)="previousPage()">Previous page</a>
      <a href="#" class="btn btn-sm" *ngIf="response.page != response.total_pages" (click)="nextPage()">Next page</a>
    </div>
  </div>
</section>